

#Headers{
  background-color: #1C2331;
}

#SearchFriendForm{
  background-color: #3F729B;
}

#MessagesList{
  /* background-color: #c5cae9; */
  background-image: linear-gradient(#FFDAB9,  #c5cae9);
}

#FriendsList{
  background-image: linear-gradient(#1C2331,  #3F729B);
}

#SendMessageForm{
  background-color: #c5cae9 ;
}

.portrait{
  height: 65px;
  width: 65px;
  border-radius: 50%;
  /* border: solid 2px  #FFF; */
}
