

#Headers{
  background-color: #2C3240;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* background-image: linear-gradient(#304a7c,  #375fad); */
}

#SearchFriendForm{
  background-color: #3F729B;
}

#MessagesList{
  /* background-color: #c5cae9; */
  background-image: linear-gradient(#FFDAB9,  #c5cae9);
}
/* span:hover {
  color: red;
} */

.speech-bubble {
	position: relative;
	background: #ffffff;
	border-radius: .4em;
  padding: 8px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #ffffff;
	border-left: 0;
	border-top: 0;
	margin-top: -5px;
	margin-left: -10px;
}

#FriendsList{
  background-image: linear-gradient(#1C2331,  #3F729B);
}

#SendMessageForm{
  background-color: #c5cae9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.portrait{
  height: 65px;
  width: 65px;
  border-radius: 50%;
  /* border: solid 2px  #FFF; */
}
